 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background: #0d0d0d;
  color: #fff;
   font-family: 'Poppins', sans-serif;
  margin-top: 110px;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.menu li a:hover {
  color: #ff007f;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 0 20px;
}

.card {
  background: #343434;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative; /* เพิ่มตรงนี้ */
}


.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(255, 0, 127, 0.3);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card .info {
  padding: 15px;
}

.card .info h3 {
  color: #ff4da6;
  font-size: 1.3rem;
}

/* ให้ภาพแรกใหญ่ */
.card:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.card:first-child img {
  height: 450px;
  object-fit: cover;
}

.fav-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.fav-btn:hover {
  transform: scale(1.2);
}  