*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
   /* background: linear-gradient(135deg, #7a56ff, #a678ff); */
  background: url("https://img.freepik.com/free-photo/high-angle-beautiful-buildings-nighttime_23-2149444909.jpg?semt=ais_hybrid&w=740&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 80px; /* กัน navbar */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.menu li a:hover {
  color: #ff007f;
}


/* กล่องใหญ่ที่แบ่งซ้าย-ขวา */
.auth-wrapper {
  width: 70vw;
  height: 70vh;
  background: #e9e7e7;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* โซนซ้าย */
.left-box {
  width: 45%;
  background: url("/Nightlife/images/bg.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: rgb(33, 16, 16);
}

.left-box h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.left-box p {
  font-size: 1rem;
  opacity: 0.9;
}

/* โซนขวา */
.auth-box {
  width: 55%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-box h2 {
  text-align: left;
  margin-bottom: 25px;
  color: #333;
}

/* ปุ่ม toggle */
.form-toggle {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.form-toggle button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding-bottom: 5px;
  color: #777;
}

.form-toggle button.active {
  color: #000;
  border-bottom: 2px solid #e009a0;
}

/* Form */
.form {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.form.active {
  display: flex;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

button.main-btn {
  background: linear-gradient(90deg, #ec37da, #df04e6);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 10px;
}

button.main-btn:hover {
  opacity: 0.9;
}
