* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.menu li a:hover {
  color: #ff007f;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #000, #1a1a1a);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.auth-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  width: 30vw;
  height: 60%;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.form-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.form-toggle button {
  background: none;
  border: none;
  color: #bbb;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s;
}

.form-toggle button.active {
  color: #fff;
  border-bottom: 2px solid #ff4081;
}

.form {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.form.active {
  display: flex;
  transform: translateY(10%);
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.input-title{
  text-align: left;
  position: relative;
  top:3px;
  left: 5px;
}
button {
  background: #ff4081;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  background: #e73370;
}

